<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>bro programmer</title>
  <meta name="description" content="Тренер 40+ и разработчик. Ссылки на приложения, контакты и мини-инструменты." />
  <link rel="stylesheet" href="style.css" />
   <!-- htmx -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>

<!-- шапка -->
<div hx-get="/partials/header.html"
     hx-trigger="load"
     hx-swap="outerHTML"></div>

<main>
  <h3>Активная жизнь 40+</h3>

  <p>
    Я разработал простую систему, которая помогает двигаться вперёд — 
    в активности и спорте, в питании и в финансовом мышлении.
  </p>

  <p>
    Всё гениальное — просто.  
    Я не учу, как жить, и не раздаю советы.
    Каждый строит свою жизнь сам.
    Моё приложение лишь помогает держать правильный курс.
  </p>

  <p>
    Большие изменения начинаются с маленьких шагов.
    Достаточно фиксировать свои действия и уделять этому
    всего несколько минут в день.
  </p>

  <p>
    Маленькие шаги. Большие цели.
  </p>
</main>

<!-- футер -->
<div hx-get="/partials/footer.html"
     hx-trigger="load"
     hx-swap="outerHTML"></div>

</body>
</html>
